<section
  class="account-page account-page-details customers-account-page margin-top-fix"
  data-template-account
         
         >
  <header class="account-page-masthead">
    <h1 class="account-page-title">
      {{ 'customers.account.title' | t }}
    </h1>
  </header>

  <div class="account-page-content">
    <div class="account-page--two-column">
      {% comment %}
        Customer order summary
      {% endcomment %}
      <div class="account-page--column-large account-order-history">
        <h2 class="account-page-subtitle" >
          {{ 'customers.account.order_history' | t }}
        </h2>

        {% if customer.orders.size > 0 %}
          {% paginate customer.orders by 20 %}
            <table class="account-table account-order-list">
              <thead>
                <tr>
                  <th>{{ 'customers.account.order' | t }}</th>
                  <th>{{ 'customers.account.payment' | t }}</th>
                  <th>{{ 'customers.account.fulfillment' | t }}</th>
                  <th>{{ 'customers.account.total' | t }}</th>
                </tr>
              </thead>

              <tbody>
                {% for order in customer.orders %}
                  <tr>
                    <td class="account-order-number">
                      {%- capture order_link -%}
                        {{ order.name }} - {{ order.created_at | date: format: 'short_day_month_year' }}
                      {%- endcapture -%}

                      {{ order_link | strip_newlines | link_to: order.customer_url, order.name }}
                    </td>
                    <td class="payment-status--{{ order.financial_status }}">
                      {{ order.financial_status_label }}
                    </td>
                    <td class="fulfillment-status--{{ order.fulfillment_status }}">
                      {{ order.fulfillment_status_label }}
                    </td>
                    <td class="account-order-list-total">
                      <span class="money">{{ order.total_price | money }}</span>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            {% include 'pagination' %}
          {% endpaginate %}
        {% else %}
          <div class="empty account-page-subtitle">{{ 'customers.account.empty' | t }}</div>
        {% endif %}
      </div>

      {% comment %}
        Customer address summary
      {% endcomment %}
      <div class="account-page--column-small account-info">
        <div class="account-info-block">
          <div class="account-page-subtitle">
            {{ customer.name }}
          </div>
         
           <a href="/account/logout">
          {{ 'header.account.logout' | t }}
           </a>
     

          <p class="account-info-item">
            <a href="mailto:{{ customer.email }}">
              {{ customer.email }}
            </a>
          </p>
        </div>

        <div class="account-info-block">
          {% if customer.default_address != nil %}
            <div class="account-page-subtitle">
              {{ 'customers.account.default_address' | t }}
            </div>

            {%
              include 'account-address-list',
              address: customer.default_address
            %}
          {% endif %}

          <p class="account-address-item">
            {% if customer.addresses_count == 0 %}
              <a href="/account/addresses">
                {{ 'customers.account.new_address_link' | t }}
              </a>
            {% else %}
              <a href="/account/addresses">
                {{ 'customers.account.view_addresses' | t, count: customer.addresses_count }}
              </a>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <iframe id="refcandy-candyjar" data-id="r43dicyw04kcym0hj7e414zo5" data-height="900" data-width="100%" frameborder=0>
</iframe>
<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//portal.referralcandy.com/assets/widgets/refcandy-candyjar.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","refcandy-candyjar-js");
</script>
 -->