<!doctype html>
<html class="no-js no-touch" lang="{{ shop.locale }}">
<head>
<!-- Hotjar Tracking Code for https://www.tmgindustrial.ca -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2572117,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<!--- GeoIP country redirect  --->
<script src="https://kite.spicegems.org/0/js/scripttags/tmgusa/static/country-redirect.js" type="text/javascript"></script>
<!-- LP Google Ads Tag Tracking START -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-373239682"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-373239682');
</script>
<!-- LP Google Ads Tag Tracking END -->
  
<!-- LP Microsoft UET Tracking START -->
<script>
(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"134438507"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");
</script>
<!-- LP Microsoft UET Tracking END -->
  
{% assign mlveda_code_flag = false %}
  
  {% if mlveda_code_flag == true %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script>
      	$m = $.noConflict(true);
	 window.pattern = /^(do|sv|ee|fi|fr|gd|gp|gg|hu|is|im|il|kz|ke|kg|la|mo|mk|mh|mq|ms|ma|nl|ne|ng|no|pw|py|pl|pt|kn|st|sc|sg|sk|za|sr|sj|th|to|tm|tc|uz|vu|vn|zm|af|al|as|ao|ai|an|ag|ar|as|bb|by|aq|bm|bq|bv|au|vg|bs|cv|bh|cf|bd|cn|be|co|ba|ci|bw|dk|bn|dm|bi|cd|cm|ec|ca|eg|td|gq|cx|er|cc|et|cr|eu|ga|gh|cy|gi|dj|gu|eu|gt|fk|gn|fo|gw|gf|hm|pf|hn|gm|iq|ge|ie|de|jm|gr|jp|in|ki|id|lr|je|mw|lv|my|ly|mu|li|yt|mv|mx|mc|mn|mz|nr|np|ni|nu|nf|pk|na|ph|oc|pn|om|qa|pg|re|pr|sh|ro|ru|rw|sm|bl|rs|pm|sx|vc|gs|sa|sd|sl|se|si|tj|tz|sb|tt|sa|tn|es|gb|lk|va|ch|zw|sy|tw|tl|tg|tr|um|vi|ug|us|uy|ve|af|ax|dz|ad|am|aw|at|az|bz|bj|bt|bo|br|io|bg|bf|kh|ky|cl|km|cg|ck|hr|cu|cw|cz|fj|tf|gl|gy|ht|hk|ir|it|jo|kw|lb|ls|lt|lu|mg|ml|mt|mr|fm|md|me|mm|na|nc|nz|kp|mp|ps|pa|pe|lc|mf|ws|sn|so|kr|ss|sz|tk|tv|ua|ae|wf|eh|ye|intl)$/;
      </script>

  {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    

    <title>
      {{- page_title -}}

      {%- if current_tags -%}
        {%- include 'advanced-tag-loop' -%}
        {% assign title_tags = '' %}
        {% assign meta_tags = current_tags | join: ', ' %}
        {%- for tag in current_tags -%}
          {% assign is_advanced_tag = false %}
          {% assign cat = tag | split: '_' | first %}

          {%- unless cat == tag -%}
            {%- if cat_array contains cat -%}
              {% assign is_advanced_tag = true %}
              {% assign title_tags = title_tags | append: ', ' | append: tag | replace_first: '_', ': ' %}
            {%- endif -%}
          {%- endunless -%}

          {%- unless is_advanced_tag -%}
            {% assign title_tags = title_tags | append: ', ' | append: tag %}
          {%- endunless -%}
        {%- endfor -%}
        {{ 'general.title.tags' | t: tags: title_tags | remove_first: ', ' }}
      {%- endif -%}

      {%- if current_page != 1 -%}
        {{- 'general.title.page' | t: page: current_page -}}
      {%- endif -%}

      {%- unless page_title contains shop.name -%}
        {{- 'general.title.shop' | t: shop: shop.name -}}
      {%- endunless -%}
    </title>

    {% if page_description != blank %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
  
     <!-- Helpers ================================================== -->

  <link rel="preload" href="{{ 'vendor.min.css' | asset_url }}" as="style">
  <link rel="preload" href="{{ 'theme.min.css' | asset_url }}" as="style">
  
  {% render 'head_styles' %}
      <!-- Scripts -->
  {% render 'head_scripts' %}

    {% include 'favicon' %}

    {% if template contains 'collection' and current_tags %}
      <meta name="robots" content="noindex" />
      <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
    {% else %}
      <link rel="canonical" href="{{ canonical_url }}" />
    {% endif %}

    <meta name="viewport" content="width=device-width">

    {% assign twitter_handle = settings.social_twitter | split: 'twitter.com/' | last %}
    {%
      include 'social-meta-tags',
      twitter_handle: twitter_handle
    %}

    {{ content_for_header }}
{% render 'globo.alsobought.script' %}

    <script>
      document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
      if(window.Shopify&&window.Shopify.designMode)document.documentElement.className+=' in-theme-editor';
      if(('ontouchstart' in window)||window.DocumentTouch&&document instanceof DocumentTouch)document.documentElement.className=document.documentElement.className.replace(/\bno-touch\b/,'has-touch');
    </script>

    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% if mlveda_code_flag == true %}
  	{% if template != 'cart' %}
		<script>
		  $m("<style type='text/css'>span.money{ display: none; }</style>").appendTo("head");
          
          {% if template contains 'product' %}
            $m("<style type='text/css'>button[name='add']{visibility : hidden;}</style>").appendTo("head");
          {% endif %}
          
		</script>
	{% endif %}
  {% endif %}
 
{% render 'pagefly-header' %}
 <script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/HYUIpJIn0T0fNp9SgNnJwnsq9B5ZVZWYl9PZsD37/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
 

  {% render 'shogun-head' %}
</head> 
  
  <body class="template-{{ template.name }}">
    <a class="skip-to-main" href="#site-main">{{ 'general.accessibility.skip_to_content' | t }}</a>
<!--     {% section 'static-announcement' %} -->
    <header
      class="site-header site-header-nav--open"
      role="banner"
      data-site-header
    >
     {% if template == 'index' %}
     {% section 'static-header-update' %}
     {% elsif template == 'page.service' or template == 'page.warranty' or template == 'page.shipping-info' or template == 'page.order' or template == 'page.customer-service' or template == 'page.qa'%}    
     {% section 'static-header-other' %}
     {% elsif template == 'collection' %}
     {% section 'static-header-collection' %}
     {% else %}
     {% section 'static-header-product' %}
     {% endif %}
 
      
    </header>
    <div class="intersection-target" data-header-intersection-target></div>
    <main id="site-main" class="site-main" aria-label="Main content" tabindex="-1">
      {% if template == 'index' %}
<!--         {% section 'static-slideshow' %}
        {% section 'static-highlights-banners' %} -->
      {% endif %}

      {% if mlveda_code_flag == false %}
          	<div class="globoRecommendationsTop"></div>
{{ content_for_layout }}
{% render 'globo.alsobought.action' %}	
          {% endif %}

          {% if mlveda_code_flag == true %}
          <div class="mlvedaform">
            <div class="globoRecommendationsTop"></div>
{{ content_for_layout }}
{% render 'globo.alsobought.action' %}
            {% include 'mlveda-multipricing-options' %}
          </div>
          	{% include 'mlveda-multipricing-selectBox' %}

          	{% include 'mlveda-multipricing-selectors' %}
          {% endif %}
    </main>

    {% section 'static-footer-update' %}

    {% comment %}
      Below are various templates used in JavaScript
    {% endcomment %}
    <div style="display: none;" aria-hidden="true" data-templates>
      {% include 'message-banner' %}
      {% include 'atc-banner' %}
    </div>

    {% comment %}
      Modal container, used on Collections, Password, and QuickShop
    {% endcomment %}
    {% include 'modal' %}


    {%- if template contains 'customer' -%}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js' | shopify_asset_url | script_tag }}
    {%- endif -%}

    <script
      src="{{ 'empire.js' | asset_url }}"
      data-scripts
      data-shopify-api-url="{{ 'api.jquery.js' | shopify_asset_url }}"
      data-shopify-currencies="//cdn.shopify.com/s/javascripts/currencies.js"
      data-shopify-countries="/services/javascripts/countries.js"
      data-shopify-common="{{ 'shopify_common.js' | shopify_asset_url }}"
    />
    
    {% include 'structured-data' %}
  {% if mlveda_code_flag == true %}
  	{% if template != 'cart' %}
		{% include 'mlveda-multipricing-updateprice' %}
  	{% else %}
        <script>mlvedaFlagCalled = true;</script>
  	{% endif %}
  {% else %}
		<script>mlvedaFlagCalled = true;</script>
  {% endif %}
    {% render 'footer_scripts' %}

 
<!-- Stamped - Begin script -->
<script async type="text/javascript" id="stamped-script-widget" data-api-key="pubkey-R3kK440GU94Lx6PRYbc8Ra2YODKMg9" src="https://cdn1.stamped.io/files/widget.min.js"></script>
<!-- Stamped - End script -->
 

<!-- Back in Stock helper snippet -->
{% render 'back-in-stock-helper' %}
<!-- End Back in Stock helper snippet -->
    
<script type="text/javascript" src="//cdn.callrail.com/companies/413787155/2fc5fb46c7820532d731/12/swap.js"></script>    
    

<!-- sh-ssp-added -->
{% render 'sh-ssp-theme-snippet' %}
<!-- /sh-ssp-added -->


<!-- **BEGIN** Hextom FSB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_fsb_main', product: product, customer: customer %}
    <!-- **END** Hextom FSB Integration // Main Include - DO NOT MODIFY -->

<!-- **BEGIN** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_qab_main', product: product, customer: customer %}
    <!-- **END** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
</body>
</html>
