<style>
  .dynamic-section{
    
    margin-top:96px;
    
  }
  
   .dynamic-slideshow{
    
    width:100%;
    float:left;
  }
  
  @media only screen and (max-width:1029px){
    
     .dynamic-section{
    
    margin-top:88px;
    
  } 
    
  }
  
    @media only screen and (max-width:1023px){
    
     .dynamic-section{
    
    margin-top:96px;
    
  } 
    
  }
  
  
      @media only screen and (max-width:632px){
    
     .dynamic-section{
    
    margin-top:116px;
    
  } 
    
  }
  
        @media only screen and (max-width:447px){
    
     .dynamic-section{
    
    margin-top:132px;
    
  } 
    
  }
  
  
        @media only screen and (max-width:320px){
    
     .dynamic-section{
    
    margin-top:150px;
    
  } 
    
  }
</style>
<div class="dynamic-slideshow">
<script
  type="application/json"
  data-section-type="static-slideshow"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "enable_autoplay": {{ section.settings.enable_autoplay | json }},
    "autoplay_duration": {{ section.settings.autoplay_duration | json }}
  }
</script>

{% if section.settings.show_slideshow %}
  <section
    class="
      slideshow
      slideshow-dots-{{ section.settings.slideshow_height }}
      dynamic-section
    "
    aria-label="Slide show"
  >
    {% for block in section.blocks %}
      {% capture placeholder_slide_image %}
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {% assign placeholder_style = 'lifestyle-' | append: current %}
        {%-
          include 'placeholder_svg_uri'
          placeholder: placeholder_style
        -%}
      {% endcapture %}

      <div
        class="
          slideshow-slide
          slideshow-height-{{ section.settings.slideshow_height }}
        "
        tabindex="0"
        aria-label="Slide {{ forloop.index }} of {{ section.blocks.size }}"
        {{ block.shopify_attributes }}
      >
        {% if block.settings.link != blank %}
          <a
            class="
              slideshow-link
              slideshow-background-link
              slideshow-height-{{ section.settings.slideshow_height }}
            "
            href="{{ block.settings.link }}"
            tabindex="-1"
          ></a>
        {% endif %}

        {% assign slideshow_crop = 'center' %}

        {% if section.settings.slideshow_height == 'original' %}
          {% assign slideshow_crop = false %}
        {% endif %}

        
<!--         Desktop Image -->
        <div
          class="
            slideshow-background
            slideshow-background--{{ block.id }}
            slideshow-height-{{ section.settings.slideshow_height }}
            {% if block.settings.background_image == blank %}
              placeholder--image
            {% endif %}
            modular-full-width-image-desktop
          "
          {% if block.settings.background_image %}
            {%
              include 'rimg',
              img: block.settings.background_image,
              size: '2000x2000',
              crop: slideshow_crop,
              lazy: true,
              background: true,
            %}
          {% else %}
            style="background-image: url('{{ placeholder_slide_image | strip }}')"
          {% endif %}
          data-themecolor="{{ settings.color_text }}"
          data-slidecolor="{{ block.settings.color }}"
        >
          {% if block.settings.background_image %}
            {%
              include 'rimg',
              img: block.settings.background_image,
              class: 'slideshow-image',
              size: '2000x2000',
              crop: slideshow_crop,
              lazy: true,
              canvas: true,
            %}
          {% else %}
            <img
              class="slideshow-image"
              src="{{ placeholder_slide_image | strip }}"
              alt=""
            >
          {% endif %}

          {% if block.settings.show_overlay %}
            <div
              class="
                slideshow-slide-overlay
                slideshow-slide-overlay--{{ block.id }}
              "
            ></div>
          {% endif %}
        </div>
        
        
<!--         Mobile Image -->
        <div
          class="
            slideshow-background
            slideshow-background--{{ block.id }}
            slideshow-height-{{ section.settings.slideshow_height }}
            {% if block.settings.background_image_mobile == blank %}
              placeholder--image
            {% endif %}
            modular-full-width-image-mobile
          "
          
          data-themecolor="{{ settings.color_text }}"
          data-slidecolor="{{ block.settings.color }}"
          
        >
          {% if block.settings.background_image_mobile %}
            <img src="{{ block.settings.background_image_mobile | img_url: 'master' }}" style="width:100%;">
          {% else %}
            <img
              class="slideshow-image"
              src="{{ placeholder_slide_image | strip }}"
              alt=""
            >
          {% endif %}

          {% if block.settings.show_overlay %}
            <div
              class="
                slideshow-slide-overlay
                slideshow-slide-overlay--{{ block.id }}
              "
            ></div>
          {% endif %}
        </div>

        {% if block.settings.title != blank
           or block.settings.text != blank
           or block.settings.button_one_label != blank
          
        %}
        
        
<!--         Text -->
          <div
            class="
              modular-full-width-image-text
            "
          >
            {% if block.settings.link != blank %}
              <a class="slideshow-link" href="{{ block.settings.link }}">
            {% endif %}
            {% if block.settings.title != blank %}

              <div class="modular-full-width-image-title">
                {{ block.settings.title | escape }}
              </div>
            {% endif %}

            {% if block.settings.text != blank %}

              <p class="modular-full-width-image-descripion-desktop">
                {{ block.settings.text | escape }}
              </p>
              <p class="modular-full-width-image-descripion-mobile">
                {{ block.settings.text_mobile | escape }}
              </p>
            {% endif %}
            {% if block.settings.link != blank %}
              </a>
            {% endif %}

            {% if block.settings.button_one_label != blank %}
              <a
                {% if block.settings.button_one_link != blank %}
                  href="{{ block.settings.button_one_link }}"
                {% endif %} 
              >
                <div class="modular-full-width-image-cta-button">
                {{ block.settings.button_one_label | escape }}
                </div>
              </a>
            {% endif %}

          </div>
        {% endif %}
      </div>
    {% endfor %}

    {%
      include 'slideshow-overlay',
      blocks: section.blocks
    %}
  </section>
{% endif %}
</div>

{% schema %}
{
  "name": "Slideshow",
  "class": "slideshow--section",
  "settings": [
    {
      "id": "show_slideshow",
      "type": "checkbox",
      "label": "Enable slideshow",
      "default": true
    },
    {
      "id": "enable_autoplay",
      "type": "checkbox",
      "label": "Autoplay slideshow",
      "default": true
    },
    {
      "id": "autoplay_duration",
      "type": "range",
      "label": "Autoplay slide duration",
      "min": 5,
      "max": 12,
      "step": 1,
      "unit": "sec",
      "default": 8
    },
    {
      "id": "slideshow_height",
      "type": "select",
      "label": "Slideshow height",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "fullscreen",
          "label": "Fullscreen"
        },
        {
          "value": "original",
          "label": "Original aspect ratio"
        }
      ],
      "default": "medium"
    }
  ],

  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "id": "background_image",
          "type": "image_picker",
          "label": "Background image",
          "info": "1800x1000 recommended"
        },
        {
          "id": "background_image_mobile",
          "type": "image_picker",
          "label": "Mobile background image",
          "info": "1800x1000 recommended"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Heading",
          "default": "Slideshow"
        },
        {
          "id": "text",
          "type": "text",
          "label": "Description",
          "default": "Introduce customers to your shop with lifestyle and product imagery"
        },
        {
          "id": "text_mobile",
          "type": "text",
          "label": "Mobile Description",
          "default": "Introduce customers to your shop with lifestyle and product imagery"
        },
        {
          "id": "color",
          "type": "color",
          "label": "Text color",
          "default": "#FFFFFF"
        },
        {
          "id": "link",
          "type": "url",
          "label": "Background link"
        },
        
        {
          "type": "header",
          "content": "Buttons"
        },
        {
          "id": "button_one_label",
          "type": "text",
          "label": "Button 1 label",
          "default": "Button"
        },
        {
          "id": "button_one_link",
          "type": "url",
          "label": "Button 1 link"
        },
        
        {
          "type": "header",
          "content": "Overlay"
        },
        {
          "id": "show_overlay",
          "type": "checkbox",
          "label": "Show overlay",
          "default": true
        },
        {
          "id": "overlay_color",
          "type": "color",
          "label": "Color",
          "default": "#000000"
        },
        {
          "id": "overlay_opacity",
          "type": "range",
          "label": "Opacity",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        }
      ]
    }
  ],

   "presets": [
    {
      "category": "Image",
      "name": "Slideshow",
      "blocks": [
      {
        "type": "slide"
      },
      {
        "type": "slide"
      }
    ]
    }
  ]


}

{% endschema %}