<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&display=swap" rel="stylesheet">



<div class="modular-full-width-image">
  
{% if section.settings.button != blank %}
  <img src=" {{ section.settings.image01 | img_url: 'master' }}" class="modular-full-width-image-desktop">
  
  <img src=" {{ section.settings.image_mobile | img_url: 'master' }}" class="modular-full-width-image-mobile">
 
  
    
    <div class="modular-full-width-image-text">
    <p class="modular-full-width-image-title">{{ section.settings.title01 }}</p>
    <p class="modular-full-width-image-descripion-desktop">{{ section.settings.description01 }}</p>
    <p class="modular-full-width-image-descripion-mobile">{{ section.settings.description_mobile }}</p>
    
    <a href="{{ section.settings.link01 }}">  
    <div class="modular-full-width-image-cta-button">
    	
          {{ section.settings.button }}
       
    </div> 
    </a> 
   
    
    </div>
  {% else %}
  <a href="{{ section.settings.link01 }}"> 
  <img src=" {{ section.settings.image01 | img_url: 'master' }}" class="modular-full-width-image-desktop">
  
  <img src=" {{ section.settings.image_mobile | img_url: 'master' }}" class="modular-full-width-image-mobile">
 
  </a> 
    
    <div class="modular-full-width-image-text">
    <p class="modular-full-width-image-title">{{ section.settings.title01 }}</p>
    <p class="modular-full-width-image-descripion-desktop">{{ section.settings.description01 }}</p>
    <p class="modular-full-width-image-descripion-mobile">{{ section.settings.description_mobile }}</p>
    
     
    
    
   
    
    </div>
  {% endif %}
  
  
  
 

  
  
</div>






{% schema %}
  {
    "name": "Full Width Image",
    "settings": [
     
	{
         "type": "image_picker",
         "label": "Desktop Image",
         "id": "image01"
       },
    {
         "type": "image_picker",
         "label": "Mobile Image",
         "id": "image_mobile"
       },
	{
         "type":"url",
         "id":"link01",
         "label":"Link"
      },
	{
         "type":"text",
         "id":"title01",
         "label":"title",
         "default":"Module 03: TMG Brand Story"
      },

     {
         "type":"text",
         "id":"description01",
         "label":"description_desktop",
         "default":"Description"
      },
    {
         "type":"text",
         "id":"button",
         "label":"button",
         "default":"EXPLORE"
      },
	{
         "type":"text",
         "id":"description_mobile",
         "label":"description_mobile",
         "default":"Description"
      }
],
    "presets": [
    {
      "category": "Image",
      "name": "Full Width Image"
    }
  ]
    
  }
{% endschema %}