<div class="mlvedaform">

<!-- {% include 'breadcrumbs' %} -->


<section class="product--container {{ section.settings.layout }}" data-product-wrapper>
  
  {%
    include 'product',
    layout: section.settings.layout,
    is_product_modal: false
  %}
  
  
</section>
  
  
  
  <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>

{% section 'static-product-recommendations' %}

{% section 'static-product-reviews' %}

{% section 'static-recently-viewed' %}

  
</div>


<!--Start Stamped.io Auto Installation--><div id="stamped-main-widget" class="stamped-main-widget" data-widget-style="standard" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.selected_or_first_available_variant.sku}}" data-product-type="{{product.type}}" data-widget-language="{{shop.locale}}"></div><!--End Stamped.io Auto Installation-->

